<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SCRAPPY SCHEDULER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>
    <header>
        <div class="heading">
            <h1>SCRAPPY SCHEDULER</h1>
            <img src="..\static\images\649506.png" alt="UNT eagle logo" class="logo">
        </div>

        <h2 style="position: fixed; top: 50px;">Scrappy Scheduler keeps students on track with classes, deadlines, and work timelines.</h2>
    </header>

    <div>
        <a 
           href="dashboard.html"> <button>DASHBOARD</button> <!--COMMENT-->
        </a>
        <a 
           href="todo.html"> <button>TO-DO</button>
        </a>
        <a 
           href="syllabus.html"> <button>SYLLABUS</button>
        </a>
        <a 
           href="account.html"> <button>ACCOUNT</button> 
        </a>

    </div>


</body>
</html>